<%- include('../../includes/head'); -%>
<%- include('../../includes/top') -%>
<%- include('../../includes/nav') -%>
<%- include('../../includes/content') -%>
<%- include('./head'); -%>

<div class="row" id="savesContainer">
    <div class="col-12">
        <div class="d-flex bg-dark p-2">
            <h5 class="m-0 mt-1 ml-1">
                <i aria-hidden="true" class="fas pr-1" v-bind:class="listFiles ? 'fa-tasks' : 'fa-hdd'"></i>
                {{
                    !listSavegames
                        ? listTribes
                            ? globalvars.lang_arr.servercenter_saves.tribes
                            : globalvars.lang_arr.servercenter_saves.maps
                        : globalvars.lang_arr.servercenter_saves.players
                }}
            </h5>
            <div class="btn-group btn-group-sm ml-auto">
                <a v-if="hasPermissions(globalvars.perm, 'saves/removeSaves', vars.cfg)" href="javascript:void(0)" class="btn btn-sm btn-outline-light disabled">
                    <i aria-hidden="true" class="fas fa-download"></i>
                </a>
                <a v-if="hasPermissions(globalvars.perm, 'saves/downloadSaves', vars.cfg)" href="javascript:void(0)" class="btn btn-sm btn-outline-danger">
                    <i aria-hidden="true" class="fa fa-trash-o"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-sm" :class="listSavegames ? 'btn-outline-info' : 'btn-outline-light'" @click="listSavegames = true; listTribes = false; listMaps = false; list = savegamesPlayer">
                    <i aria-hidden="true" class="fas fa-user"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-sm" :class="listTribes ? 'btn-outline-info' : 'btn-outline-light'" @click="listSavegames = false; listTribes = true; listMaps = false; list = savegamesTribe">
                    <i aria-hidden="true" class="fas fa-users"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-sm" :class="listMaps ? 'btn-outline-info' : 'btn-outline-light'" @click="listSavegames = false; listTribes = false; listMaps = true; list = savegamesMaps">
                    <i aria-hidden="true" class="fas fa-map"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-12">
        <table class="table table-sm table-striped table-bordered">
            <tbody>

            <tr v-for="(file, key) in list">
                <td width="62px" class="p-0"><img :src="steamAPI_ID[file.SteamId] !== undefined ? steamAPI_ID[file.SteamId].avatarfull : file.iconOfMap ? file.iconOfMap : '/img/unknown.png'" style="width: 62px; height: 62px" /></td>

                <td v-if="listMaps">
                    <b>{{file.namePure}}</b> <br />
                    <span class="text-sm"><b>{{ file.size }}</b> | {{ globalvars.lang_arr.servercenter_saves.lastUpdate }}: <b>{{ file.updated ? convertTime(file.updated) : '??.??.???? ??:??' }}</b></span>
                </td>
                <td v-else-if="listTribes">
                    <b><i class="fa fa-users"></i> {{ Array.isArray(file.TribeMemberNames) ? file.TribeMemberNames.length : 0 }} | {{file.Name}}</b> <br />
                    <span class="text-sm"><b>{{ file.File.size }}</b> | {{ globalvars.lang_arr.servercenter_saves.lastUpdate }}: <b>{{ file.FileUpdated ? convertTime(file.FileUpdated) : '??.??.???? ??:??' }}</b></span>
                </td>
                <td v-else>
                    <b>
                        Char: {{file.CharacterName}} | Steam:
                        <a v-if="steamAPI_ID[file.SteamId]" :href="steamAPI_ID[file.SteamId].profileurl" target="_blank">
                            {{ steamAPI_ID[file.SteamId].personaname }}
                        </a>
                    </b>
                    <br />
                    <span class="text-sm"><b>{{ file.File.size }}</b> | <i v-if="file.Tribe" class='fa fa-users'></i> {{ file.Tribe ? `${file.Tribe.Name} |` : '' }} {{ globalvars.lang_arr.servercenter_saves.lastUpdate }}: <b>{{ file.FileUpdated ? convertTime(file.FileUpdated) : '??.??.???? ??:??' }}</b></span>
                </td>


                <td style="width: 1%" class="p-0">
                    <div class="btn-group">
                        <a :href="`/serv${file.DownloadUrl}`" target="_blank" :download="file.File ? file.File.name : file.name" class="btn btn-app bg-dark m-0">
                            <i aria-hidden="true" class="fa fa-download"></i> {{ globalvars.lang_arr.servercenter_saves.download }}
                        </a>

                        <a href="javascript:void(0)" class="btn btn-app bg-info m-0" v-if="!listMaps">
                            <i aria-hidden="true" class="fa fa-info"></i> {{ globalvars.lang_arr.servercenter_saves.info }}
                        </a>

                        <a href="javascript:void(0)" class="btn btn-app bg-danger m-0">
                            <i aria-hidden="true" class="fa fa-trash"></i> {{ globalvars.lang_arr.servercenter_saves.remove }}
                        </a>
                    </div>
                </td>
            </tr>

            <tr v-if="list.length === 0" v-html="nothingFound()"></tr>

            </tbody>
        </table>
</div>


<script>
    // Vars die zur JS übergeben werden
    // Allgemeine Vars
    let vars = {};
    vars.cfg = '<%- serverName %>';
</script>

<script src="/js/kadmin/serverCenter/saves.js" type="application/javascript"></script>

<%- include('../../includes/foother'); -%>