<%- include('../includes/head'); -%>
<%- include('../includes/top') -%>
<%- include('../includes/nav') -%>
<%- include('../includes/content') -%>

<div class="row" id="clusterControler">
</div>

<script>
   // Vars die zur JS übergeben werden
   // Allgemeine Vars
   let vars = {}
</script>

<script src="/js/kadmin/cluster.js" type="application/javascript"></script>
<%- include('../includes/foother') -%>